$family-primary: "Roboto";

//Colors
$primary: hsl(204, 86%,  53%);
$info: hsl(204, 86%,  53%);
$success:  green;
$warning: yellow;
$danger: red;
$light: hsl(0, 0%, 96%);
$dark: hsl(0, 0%, 21%);

//Text colors
$text: black;
$text-light: grey;
$text-strong: black;

// Link colors
$link: blue;
$link-visited: purple;
$link-hover: grey;
$link-hover-border: lightgray;
$link-focus: grey;
$link-focus-border: blue;
$link-active: grey;
$link-active-border: grey;

//Responsive
$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

$easing: ease-out;
$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$speed: 100ms;